.banner {

    position: relative;
    
    z-index: -1;
}

.banner img {

    width: 100%;

    border: 0;

    margin: 0;

}

.bannerTxt {

    position: absolute;

    top: 38%;

    left: 18%;

    font-size: 3rem;

    text-align: center;

    color: #fff;

}

.body {

    display: flex;

    flex-wrap: wrap;

    width: 100%;

}

.movimentos {

    display: flex;

    justify-content: center;

    align-items: center;

    width: 100%;

    font-size: 6rem;

    margin-top: 10%;

    color: #fff;
}

.card {

    position: relative;

    margin: 5%;

    transition: transform 1s;

}

.card h3 {

    position: absolute;

    bottom: 5%;

    left: 5%;

    font-size: 2rem;

    color: #fff;

}

.card img {

    width: 580px;

    height: 390px;

    border-radius: 15px;

    z-index: 5;

}

.card:hover {

    transform: scale(1.05);

}


@media screen and (max-width: 800px) {

    .bannerTxt {

        font-size: 1.2rem;

        left: 2%;

    }

    .movimentos {

        font-size: 4rem;

    }

    .card img {

        width: 350px;

        height: 250px;

    }

}